@model IEnumerable<MeetingApp.DAL.EmployeeGuest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.F_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guest.F_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guest.L_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.F_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Guest.F_Name)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.Guest.L_Name)
        </th>

    </tr>
}

</table>
